.main_block__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_block__block:not(.main_block__block:last-child) {
    border-right: 2px solid var(--lightgray);
}

.main_block__title {
    margin-top: 1rem;
    text-shadow: 1px 1px 2px #b0bec5, 0 0 1em aliceblue, 0 0 0.2em #b0bec5;
}